<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YelpApi.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <YelpApi.Client.Properties.Settings>
            <setting name="SearchRelativePath" serializeAs="String">
                <value>search</value>
            </setting>
            <setting name="BusinessRelativePath" serializeAs="String">
                <value>business</value>
            </setting>
            <setting name="DoubleFormat" serializeAs="String">
                <value>#0.000000</value>
            </setting>
            <setting name="BusinessRequestTimeout" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="SearchRequestTimeout" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="YelpApiBasePath" serializeAs="String">
                <value>https://api.yelp.com/</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>REPLACE_ME</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>REPLACE_ME</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>REPLACE_ME</value>
            </setting>
            <setting name="TokenSecret" serializeAs="String">
                <value>REPLACE_ME</value>
            </setting>
            <setting name="EncryptionMethod" serializeAs="String">
                <value>HMACSHA1</value>
            </setting>
            <setting name="PhoneRelativePath" serializeAs="String">
                <value>phone_search</value>
            </setting>
        </YelpApi.Client.Properties.Settings>
    </applicationSettings>
</configuration>